<div class="heading-bg">
  <h1 class="heading-title">Dodaj nowy pokój</h1>
  <%= link_to 'Wstecz', admins_rooms_path, class: "btn btn-light" %>
</div>

<div class="admin-content-new">
  <%= render 'form' %>
</div>