<section class="gallery-section">
      <div class="photo-container">
          <div class="gallery-photo-1">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-2">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-3">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-4">
            <div class="gallery-shadow"></div>
          </div>
      </div>
      <div class="photo-container">
          <div class="gallery-photo-5">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-6">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-7">
            <div class="gallery-shadow"></div>
          </div>
          <div class="gallery-photo-8">
            <div class="gallery-shadow"></div>
          </div>
      </div>
</section>