<header class="header">
  <div class="header-img">
    <div class="hero-shadow"></div>
  </div>
  <div class="header-content">
    <div class="header-content-box">
      <h2 class="header-title">Zarezerwój Swój Pobyt</h2>
      <p class="header-text"> Witaj w Hotelu Sunrise - najlepszym z hoteli południowej Hiszpanii</p>
    </div>
    <%= render 'search_form' %>
  </div>
</header>

