<section class="info-section">
  <div class="container info-container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 info-box">
        <i class="fas fa-spa info-icon"></i>
        <p class="info-title">9</p>
        <p class="info-text">Lat Doświadczenia</p>
      </div>
      <div class="col-sm-6 col-lg-3 info-box">
        <i class="fas fa-utensils info-icon"></i>
        <p class="info-title">4</p>
        <p class="info-text">Renomowane Restauracje</p>
      </div>
      <div class="col-sm-6 col-lg-3 info-box">
        <i class="fas fa-bed info-icon"></i>
        <p class="info-title">48</p>
        <p class="info-text">Komfortowych Pokoi</p>
      </div>
      <div class="col-sm-6 col-lg-3 info-box">
        <i class="far fa-smile info-icon"></i>
        <p class="info-title">64783</p>
        <p class="info-text">Zadowolonych Klientów</p>
      </div>
    </div>
  </div>
</section>