<%= simple_form_for :search_form, method: :get do |form| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <small class="form-text text-muted">Data przyjazdu:</small>
          <%= form.date_field :start_date, class: 'form-control datetimepicker-input', 'data-target': "#datetimepicker4" %>
          <small class="form-text text-muted">Data wyjazdu:</small>
          <%= form.date_field :end_date, class: 'form-control datetimepicker-input', 'data-target': "#datetimepicker4" %>
        </div>
        <%= form.button :submit, value: "Szukaj", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

