<section class="start">
  <div class="start-img">
    <div class="hero-shadow"></div>
  </div>
  <div class="start-content">
    <h2 class="start-title">Jesteś gotowy, aby zarezerwować pokój?</h2>
    <p class="start-text">Z nami dokonasz bezpiecznej rezerwacji online. Sięgnij po marzenia, albo zadaj nam pytanie kontaktujac się z nami.</p>
    <div class="start-btn-box">
      <%= link_to 'Rezerwacja', root_path, class: 'btn btn-success start-btn-one' %>
      <a href="#" class="btn btn-success start-btn-two">Skontaktuj się</a>
    </div>
  </div>

</section>