<section class="testimonials">
  <div class="wrapper">
    <h2>Opinie</h2>
  </div>
  <div class="container testimonials-container">
    <div id="carouselExampleControls" class="carousel slide justify-content-center" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="media testimonials-media">
            <%= image_tag('kobieta1.jpg', :alt => 'Kobieta', class: 'testimonials-img') %>
            <div class="media-body">
              <span class="testimonials-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
              <p class="testimonials-text">Sunrise Hotel to piękny przytulny hotel w pobliżu piaszczystych plaż. Osobisty przewodnik był pomocny i szybko odpowiedział na wszystkie pytania. Bardzo miła obsługa i kuchnia. Świetnie się bawiliśmy.</p>
              <h5 class="mt-0 testimonials-name">Joanna Nowak</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="media testimonials-media">
            <%= image_tag('kobieta2.jpg', :alt => 'Kobieta', class: 'testimonials-img') %>
            <div class="media-body">
              <span class="testimonials-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
              <p class="testimonials-text">Możesz rozpocząć dzień od zimnego drinka dostarczonego przez barmana o dowolnej porze, a następnie cieszyć się wakacjami. Po powrocie z plaży smaczny obiad i domowe ciasto.</p>
              <h5 class="mt-0 testimonials-name">Alicja Janosz</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="media testimonials-media">
            <%= image_tag('mężczyzna1.jpg', :alt => 'Mężczyzna', class: 'testimonials-img') %>
            <div class="media-body">
              <span class="testimonials-stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
              <p class="testimonials-text">Przyjechaliśmy po raz pierwszy do Sunrise Hotel i świetnie się bawiliśmy w tym niesamowitym hotelu! W środku mieliśmy wszystko. Hotel był bardzo czysty i bardzo wygodny. Dziękujemy za bardzo przyjemny pobyt!</p>
              <h5 class="mt-0 testimonials-name">Jan Kowalski</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>