<header class="header">
  <div class="header-img">
    <div class="hero-shadow"></div>
  </div>
  <div class="header-content">
    <h2 class="header-title">Book Your Stay</h2>
    <p class="header-text"> Welcome to Sunrise Hotel - the best hotel in the south of Spain </p>
    <%= render 'search_form' %>
  </div>


</header>

