@import 'bootstrap/dist/css/bootstrap';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.hero-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

//---------- ADMIN NAVIGATION -----------//

.admin-body {
  height: 100%;
  width: 100%;
  display: flex;
}

.admin-container {
  width: 100%;
  height: auto;
}

.burger-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 26px;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.admin-bars {
  color: red !important;
}

.admin-nav {
  position: fixed;
  top: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
  background-color: #343a40;
  z-index: 900;

  &--active {
    transform: translateX(0);
  }
}

.admin-nav-item {
  position: relative;
  display: block;
  margin: 50px 20px;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.admin-nav-item:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

//---------- USER HOMEPAGE-CONTACT -----------//

.contacts-container {
  display: none;
}

//---------- USER NAVIGATION -----------//
.main-logo {
  display: none;
}

.navbar {
  padding: .5em 2.5em;
}
.navbar-brand,
.nav-link {
  color: #CC6510;
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.4rem;
  font-family: 'Marck Script', cursive;
}

.navbar-brand:hover {
  color:#94490C;
}
.nav-link:hover {
  color: #94490C;
}

.fa-bars {
  padding: 10px;
  font-size: 1.4rem;
  color: #CC6510;
}

.fa-user-alt {
  margin-right: 5px;
  color: #CC6510;
}

.search-btn {
  padding: 5px;
  color: #CC6510;
  font-size: 1.2rem;
  background: none;
  border: none;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #343a40;
}

.message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-text {
  margin: 0 30px;
  align-items: center;
}

.fa-times {
  font-size: 22px;
  background: none;
  border: none;
}

.admin-panel-link,
.log-out-link {
  margin-left: .6em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #CC6510;
}

.admin-link-icon {
  margin-right: 1em;
}
//--------- SHOW PAGE----------//
.show-page-title,
.show-blog-title,
.show-room-title {
  margin-bottom: 1.4em;
  font-size: 3rem;
}

.pages-container,
.blogs-container,
.rooms-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-img,
.blogs-img,
.rooms-img {
  margin: 0 2em;
  width: 40%;
}

.show-page-img,
.show-blog-img,
.show-room-img {
  width: 100%;
  height: 100%;
}

.pages-content,
.blogs-content,
.rooms-content {
  margin: 0 2em;
  width: 60%;
}

.content-views {
  margin-top: 4em;
}

.room-card-img {
  margin-bottom: 1em;
  width: 100%;
  height: 400px;

}

.card-img {
  width: 100%;
  height: 100%;
}

//-----------HEADER------------//
.header {
  position: relative;
  display: flex;
}

.header-img {
  position: relative;
  width: 100%;
  height: 900px;
  background-image: url(asset_path('header-img.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
}

.header-content {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 50;
}

.header-title {
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: 800;
}

.header-text {
  font-size: 1.2rem;
}

.header-btn,
.about-btn {
  padding: 10px 40px;
  border-radius: 50px;
  background-color: #CC6510;
  border-color: #CC6510;
}

.header-btn:hover,
.about-btn:hover {
  background-color: #94490C;
  border-color: #94490C;
}

.search-form {
  font-weight: bold;
}

//-----------ABOUT--------------//

.about-container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
}

.about-img {
  width: 100%;
  height: 100%;
}

.about-content {
  margin-top: 2em;
}

.about-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #CC6510;
}
.about-stars {
  align-items: center;
  color: gold;
}

.about-text {
  margin-top: 1em;
}

.about-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-box {
  width: 50%;
  text-align: center;
}

.about-icon {
  padding: 1em;
  font-size: 1.6rem;
  color: #CC6510;
}

.about-btn {
  margin: 1em 0;
  width: 100%;
}

//-----------ROOMS--------------//

.rooms {
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf4ed;
}

.rooms-container {
  width: 90%;
}

.wrapper {
  h2 {
    margin: 2em;
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.room-card {
  box-shadow: 0 0 .4em grey;
}
.card-title {
  font-weight: 600;
}

.card-text,
.list-group {
  font-size: .8rem;
}

.room-card-btn {
  background-color: #CC6510;
  border-color: #CC6510;
}

.room-card-btn:hover {
  background-color: #94490C;
  border-color: #94490C;
}
//---------PAGINATION----------//

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #4161e1;
}

.flickr_pagination a {
  border: 1px solid #343a40;
  color: #343a40;
  text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #708090;
  background: #d3d3d3;
  color: white;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;

}
.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}
//---------- MEDIA -----------//
@media (min-width: 400px) {
  .main-logo {
    display: inline-block;
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 576px) {
  .about-container {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .about-content {
    margin-top: 2.8em;
  }

  .about-title {
    font-size: 2rem;
  }
  .about-stars {
    font-size: 1.6rem;
  }

  .about-text {
    margin-top: 1.4em;
    font-size: 1.1rem;
  }

  .icon-box {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    width: 33%;
  }

  .about-icon {
    font-size: 2rem;
  }

  .about-btn {
    padding: 1em 2em;
  }

  .card-text,
  .list-group {
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  .header-content {
    width: 60%;
  }

  .card-text,
  .list-group {
    font-size: 1rem;
  }

  .rooms-container {
    margin-bottom: 2em;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1600px;
  }
  .admin-body {
    width: 100%;
  }
  .admin-container {
    width: 80%;
    height: auto;
  }

  .burger-btn {
    display: none;
  }

  .admin-nav-box {
    position: sticky;
    top:0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #343a40;
  }

  .admin-nav {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transform: translateX(0);
    z-index: 950;
  }

  // Contacts
  .contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CC6510;
  }

  .contacts {
    margin-left: 50px;
  }

  .social-media {
    margin-right: 50px;
  }
  .contacts,
  .social-media{
    padding: .8em;
    display: flex;
    align-items: center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }

  .phone {
    margin-right: 0.7em;
  }

  .email {
    margin-left: 0.7em;
  }

  .phone,
  .email {
    margin-bottom: 0;
    padding: .3em;
  }

  .social-icon {
    padding: 0.1em;
    margin: 0 0.5em;
    font-size: 1.2rem;
    color: #CC6510;
  }

  .social-icon:hover {
    color: #94490C;
  }

  //Navigation
  .main-logo {
    margin-left: 8px;
    margin-right: 1.2em;
    width: 60px;
    height: 60px;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
  }

  .logo-container,
  .links-container {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .links-container {
    margin: .8em 0;
  }

  .navbar {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }

  .nav-brand {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }

  .nav-brand-text {
    font-size: 30px;
    font-weight: bold;
    color: #000;
  }

  .nav-brand-text:hover {
    color: #000;
    text-decoration: none;
  }

  .admin-panel-txt {
    margin-top: 10px;
    color: #fff;
  }

  .nav-items {
    width: 100%;
    text-align: center;
  }
  .admin-nav-item {
    display: block;
    margin: 0;
    padding: 20px 0;
  }

  .admin-link-icon {
    margin-right: 0;
  }

  .admin-nav-item:hover {
    background-color: #2c3035;
    transition: background-color .3s;
  }

  .nav-actions {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading-bg {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #343a40;
    background-color: #2bc9bc;
  }

  .admin-content {
    margin: 20px;
  }

  .admin-content-new,
  .admin-content-edit {
    margin: 20px 100px;
  }

  //Header
  .header-title {
    font-size: 2.6rem;
  }

  //About
  .about-container {
    width: 90%;
  }
  .about-image {
    width: 100%;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-icon {
    font-size: 2.6rem;
  }

  .about-btn {
    width: 40%;
    align-self: center;
  }

  .about-icons-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .icon-box {
    width: 16.6%;
    text-align: center;
  }

  //Rooms
  .rooms-container {
    width: 90%;
  }

}

@media (min-width: 1025px) {
  //About
  .about-container {
    margin-top: 5em;
    margin-bottom: 4em;
    flex-direction: row;
  }

  .about-image,
  .about-content {
    width: 50%;
    align-self: flex-start;
  }

  .about-image {
    padding: 2em 2em 2em 0;
  }
  .about-content {
    padding: 2em 0 2em 2em;
    margin-top: 0;
  }

  .about-title {
    font-size: 1.6rem;
  }

  .about-stars {
    font-size: 1.2rem;
  }

  .about-text {
    margin-top: 1.2em;
    font-size: 1rem;
  }

  .icon-box {
    margin-top: 1.2em;
    margin-bottom: 1.6em;
    width: 33%;
  }

  .about-icon {
    font-size: 1.2rem;
  }

  .icon-box {
    margin-top: .8em;
    margin-right: .6em;
    margin-bottom: .8em;
    width: 20%;
    font-size: .8rem;
  }

  .about-btn {
    margin: 0;
    padding: .5em 1em;
    align-self: flex-start;
  }
}

@media (min-width: 1150px) {
  .navbar-container {
    flex-direction: row;
  }

  .navbar-container {
    align-items: center;
  }
}

@media (min-width: 1250px) {
  .about-btn {
    margin-top: .5em;
    padding: .8em 1.6em;
  }
}
@media (min-width: 1500px) {
  .admin-container {
    width: 85%;
  }

  .burger-btn {
    display: none;
  }

  .admin-nav-box {
    width: 15%;
  }

  .icon-box {
    margin-right: .5em;
    width: 16.6%;
    font-size: .9rem;
  }
}

@media (min-width: 1550px) {
  .about-title {
    font-size: 2rem;
  }

  .icon-box {
    margin-top: 2em;
  }
}

@media (min-width: 1600px) {
  .about-container,
  .rooms-container {
    width: 85%;
  }

  .icon-box {
    margin-top: 0;
  }
}

@media (min-width: 1700px) {
  .about-container,
  .rooms-container {
    width: 80%;
  }

  .icon-box {
    margin: 2em 0;
  }
}

@media (min-width: 1800px) {
  .about-text {
    font-size: 1.2rem;
  }
}