<div class="container contacts-container">
  <div class="contacts">
    <p class="phone"><i class="fas fa-phone"></i> +48 123 456 789</p>
    <p class="email"><i class="far fa-envelope"></i> hello@bookingapp.com</p>
  </div>
  <div class="social-media">
    <a href="#" class="social-icon"><i class="fab fa-tripadvisor"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-facebook-square"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
  </div>
</div>